﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/StartBootstrap.Master" CodeBehind="Default.aspx.vb" Inherits="SampleWebApp._Default1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
<ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="<%=ResolveUrl("/Default.aspx") %>">Home Page</a>
        </li>
        <li class="breadcrumb-item active">Halaman Admin</li>
    </ol>
    <div class="row">
        <div class="col-12">
            <h1>Home Page</h1>
            <p>This is an example of a blank page that you can use as a starting point for creating new ones.</p>
        </div>
    </div>
</asp:Content>
