﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/StartBootstrap.Master" CodeBehind="SampleAutoComplete.aspx.vb" Inherits="SampleWebApp.SampleAutoComplete" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:TextBox ID="txtTanggal" runat="server" /><br />
    <br />
    <ajaxToolkit:MaskedEditExtender ID="mee1"
        TargetControlID="txtTanggal" Mask="99/99/9999"
        MaskType="Date" runat="server"></ajaxToolkit:MaskedEditExtender>
</asp:Content>
